@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

/* Pseudo-class for variables */
:root {
    --bg1: #0b0c10;
    --bg2: #00000090;
    --bg3: #202031;
    --bg4: #00000035;
    --bg5: #00000070;
    --bg6: #3d3d51;
    --bg7: #fff;
    --text1: #cccccc;
    --text2: #5f5f5f;
    --text3: #817ba1;
    --text4: #979797;
    --text5: #151515;
}

body {
    font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
    background-color: var(--bg7);
    padding: 2rem;
    color: var(--text1);

}


h2 {
    font-size: 5rem;
    font-weight: 900;
    color: var(--text1);
}

#login-section,
#register-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-left: 3rem;
}


#information{
    flex: 1;
    flex-direction: column;
    background-color: var(--bg2);
    border-radius: 1rem;
    padding: 2rem 2rem 2rem 2rem;
}

#basic-information{
    flex: 1;
    flex-direction: column;
    background-color: var(--bg1);
    border-radius: 1rem;
    padding: 2rem 2rem 2rem 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#messaging-container {
    background-color: var(--bg2);
    border-radius: 1rem;
    padding: 2rem;
    max-width: 300px;
}



input,
textarea,
select,
button {
    background-color: var(--bg3);
    color: var(--text1);
    border-width: 0;
    padding: 0.5rem;
    border-radius: 0.3rem;
    resize: vertical;
}

button:hover {
    cursor: pointer;
}

#login-button{
    background-color: var(--bg2);
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.6rem;
}



.information {
    font-size: large;
    display: grid;
    grid-template-columns: max-content auto;
    gap: 5px 15px;
}

.tooltip {
    position: absolute;
    background: #333;
    color: white;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    display: none;
    white-space: nowrap;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

#radar-chart {
    overflow: visible; /* Allow content to extend beyond container */
    margin: 20px; /* Reduce excessive margin */
    min-height: 400px;
    min-width: 400px;
    background-color: #000;
    border-radius: 1rem;
    align-content: center;
}

#radar-chart svg {
    overflow: visible; /* Ensure SVG content isn't clipped */
}

#linear-chart {
    background-color: var(--bg1);
    border-radius: 1rem;
}
.audit-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center; /* or center */
}

.audit-card {
    flex: 1 1 250px; /* allows responsive resizing */
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

